@import "../../styles/variables.scss";

.repos-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    .repos-info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin: 10px 0px;
        background: linear-gradient(45deg, rgba(20, 20, 20, 0.1), rgb(255, 215, 0, 0.7));
        opacity: 0.9;
        padding: 5px;
    }

    .btn-back {
        color: $color-primary;
        border-radius: 15px;
        padding: 8px;
        position: fixed;
        right: 80px;
        top: 40px;
        text-decoration: none;
        background-color: lightgray;
        opacity: 0.7;
        cursor: pointer;
        font-size: 12px;

        &:hover {
            transition: all 500ms;
            opacity: 0.9;
        }
    }

    h1 {
        color: #FFF;
        margin-bottom: 10px;
        font-size: 20px;
        display: flex;
        gap: 8px;
    }

    h4 {
        color: gold;
    }

    .repo-card {
        background: linear-gradient(45deg, #e3e6ff, #7175e7);
        color: $color-primary;
        border-radius: 10px;
        padding: 15px;
        width: 50%;
        margin-bottom: 15px;
        display: flex;
        animation-name: appear;
        animation-duration: 2s;

        .repo-left {
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 50%;
            border-right: 1px solid $color-primary;

            h2 {
                font-size: 16px;
                margin-bottom: 10px;
            }

            h3 {
                font-weight: 500;
                font-size: 14px;
                display: flex;
                align-items: center;
                gap: 5px;
            }

            a {
                font-size: 12px;
                text-decoration: none;
                color: gray;
                position: relative;

                &:hover {
                    font-weight: 700;
                    transition: all 500ms;
                    color: $color-primary;
                }
            }
        }

        p {
            width: 50%;
            font-size: 12px;
            margin-left: 15px;
            font-weight: 500;
        }

    }
}